<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start"> </ion-buttons>
    <ion-title>Generated QRCode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size-md="6" size-lg="5">
        <div #qrcode id="QRImg"></div>
        <ion-button
          (click)="shareQRCode()"
          expand="block"
          fill="solid"
          class="ion-margin"
        >
          <ion-icon name="share-social-outline" slot="start"></ion-icon>
          Share
        </ion-button>
        <ion-button
          color="danger"
          expand="block"
          fill="solid"
          class="ion-margin"
          [routerLink]="['/home']"
          routerLinkActive="router-link-active"
          [replaceUrl]="true"
        >
          <ion-icon name="close-outline" slot="start"></ion-icon>
          Close
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
