<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Home </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content slot="fixed" [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center ion-align-items-center">
      <ion-col size-md="6" size-lg="5" class="ion-align-items-center">
        <ion-card
          button
          [routerLink]="['/select-create']"
          routerLinkActive="router-link-active"
          color="primary"
          class="ion-padding-vertical"
        >
          <ion-card-content class="ion-text-center">
            <ion-icon
              slot="start"
              name="create-outline"
              style="font-size: 4rem"
            ></ion-icon>
            <ion-card-title class="ion-margin-bottom"
              ><b>CREATE TICKET</b></ion-card-title
            >
            <ion-card-subtitle class="ion-margin-horizontal">
              Issue new violation citation ticket, generate QR code and send
              notifications
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
        <br />
        <ion-card
          button
          [routerLink]="['/select-search']"
          routerLinkActive="router-link-active"
          color="warning"
          class="ion-padding-vertical"
        >
          <ion-card-content class="ion-text-center">
            <ion-icon
              slot="start"
              name="search-outline"
              style="font-size: 4rem"
            ></ion-icon>
            <ion-card-title class="ion-margin-bottom"
              ><b>SEARCH TICKET</b></ion-card-title
            >
            <ion-card-subtitle class="ion-margin-horizontal">
              View ticket details by scanning QR code or searching by ticket
              number
            </ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
