<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Read Ticket {{ ticket_data.number}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="ticketFormGroup" (ngSubmit)="createTicket()">
    <ion-list>
      <ion-list-header color="light">
        <ion-label color="dark">DRIVER'S DETAILS</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Last Name</ion-label>
        <ion-input readonly="true" formControlName="last_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">First Name</ion-label>
        <ion-input readonly="true" formControlName="first_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Middle Name</ion-label>
        <ion-input readonly="true" formControlName="middle_name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Birth Date</ion-label>
        <ion-datetime
          readonly="true"
          display-format="DD.MMM.YYYY"
          formControlName="birth_date"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >Address <small>(House #, Street, Barangay</small>)</ion-label
        >
        <ion-input readonly="true" formControlName="address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Driver's License Number</ion-label>
        <ion-input readonly="true" formControlName="license_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Type</ion-label>
        <ion-input readonly="true" formControlName="vehicle_type"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Plate Number</ion-label>
        <ion-input readonly="true" formControlName="plate_number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating"
          >For Minors
          <small>(Parent's/Guardian's Name, License Number)</small></ion-label
        >
        <ion-input
          readonly="true"
          placeholder="Enter (Parent's Name - License Number)"
          formControlName="parent_license"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-label color="dark">TRAFFIC RELATED VIOLATION</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Driver's license is confiscated?</ion-label>
        <ion-toggle disabled="true" checked="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Vehicle Owner</ion-label>
        <ion-input readonly="true" formControlName="vehicle_owner"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Owner Address</ion-label>
        <ion-input readonly="true" formControlName="owner_address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Vehicle is impounded?</ion-label>
        <ion-toggle disabled="true" checked="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Date and Time of Apprehension</ion-label>
        <ion-datetime
          readonly="true"
          display-format="DD.MMM.YYYY H:mm:A"
          formControlName="apprehension_date_time"
        ></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Place of Apprehension</ion-label>
        <ion-input
          readonly="true"
          formControlName="apprehension_place"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-list-header color="light">
        <ion-label color="dark">TRAFFIC VIOLATIONS</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label position="floating">Committed Violations</ion-label>
        <ion-select
          multiple="true"
          formControlName="committed_violations"
          [interfaceOptions]="customAlertOptions"
        >
          <ion-select-option
            disabled="true"
            *ngFor="let violation of ticket_data.violations"
            value="{{ violation.id  }}"
            >{{ violation.violation }}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Driver is under protest?</ion-label>
        <ion-toggle disabled="true" checked="false"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label position="floating">10 Digit Mobile Number</ion-label>
        <ion-input readonly="true" formControlName="mobile_number"></ion-input>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
